body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    color: #333;
}

a {
    text-decoration: none;
    color: #007BFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

form {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}
